.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    cursor: auto;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.close {
    cursor: pointer;
    position: relative;
    left: 465px;
    width: 52px;
    height: 52px;
    border: 2px solid #FDDCC4;
    background: white;
    border-radius: 26px;
    background-image: url(/public/images/vector.png);
    background-repeat: no-repeat;
    background-position: center;
}

.modal.mactive {
    opacity: 1;
    pointer-events: all;
}

.modalContent {
    display: flex;
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    transform: scale(0.5);
    transition: 0.4s all;
}

.modalContent.mactive {
    transform: scale(1);
}

.modalContent img {
    height: 500px;
    border-radius: 20px;
}

.info {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: black;
    width: 351px;
    margin-top: 50px;
    margin-left: 29px;
    padding: 0;
    font-size: 14px;
}

.name h3 {
    color: black;
    font-size: 35px;
}

.breed {
    margin-top: 9px;
    font-size: 20px;
}

.breed h4 {
    letter-spacing: 1.2px;
}

.description {
    line-height: 17px;
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 1px;
}

.points {
    margin-top: 40px;
    padding-left: 13px;
}

.info .age p,
.info .inoculations p,
.info .diseases p,
.info .parasites p {
    display: contents;
    font-weight: bold;
    color: black;
    font-size: 15px;
    line-height: 27px;
}

.info ul li::marker {
    color: #F1CDB3;
}

@media only screen and (max-device-width: 767px) and (min-device-width: 320px) {

    .close {
        left: 120px;
    }

    .modalContent {
        width: 240px;
        height: 400px;
    }

    .modalContent img {
        display: none;
    }

    .breed {
        display: flex;
        justify-content: center;
    }

    .info {
        margin: 10px;
    }

    .breed {
        display: flex;
        justify-content: center;
    }

    .description {
        margin-top: 20px;
        letter-spacing: 0px;
    }

    .points {
        margin-top: 24px;
    }

    .info .age p,
    .info .inoculations p,
    .info .diseases p,
    .info .parasites p {
        line-height: 20px;
    }
}