/* .logo .title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #545454;
    font-size: 32px;
    font-weight: 400;
    line-height: 35.2px;
    letter-spacing: 0.06em;
    margin-bottom: 10px;
    text-align: center;
}

.header .subtitle {
    font-family: Arial, Helvetica, sans-serif;
    color: #292929;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    text-align: center;
}

.list {
    display: flex;
    gap: 36px;
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.select {
    border-bottom: 3px solid #F1CDB3;
}

.link {
    color: #545454;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    display: inline;
}

.link:hover {
    color: #292929;
}

.select {
    color: #292929;
}

h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 57.2px;
    color: #FFFFFF;
}

h3 {
    font-family: Georgia, serif;
    line-height: 130%;
    letter-spacing: 0.06em;
    font-weight: 400;
    font-size: 35px;
    color: #545454;
}

.pets {
    background-color: #F6F6F6;
}

.pets-main {
    padding: 80px 40px 100px 40px;
    max-width: 1280px;
    margin: 0 auto;
}

.pets .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 53px;
}

.pets-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px 40px
}

.card {
    border-radius: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 435px;
    background-color: #FAFAFA;
    gap: 30px;
}

.card:hover {
    cursor: pointer;
    background-color: #FFFFFF;
}

.card:hover .learn {
    background-color: #FDDCC4;
    border-color: #FDDCC4;
}

.card p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 22.72px;
    letter-spacing: 0.06em;
    color: #545454;
}

.learn {
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    padding: 14px 43px;
    text-align: center;
    color: #292929;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 0.06em;
    background-color: transparent;
    margin-bottom: 30px;
}

.learn:hover {
    cursor: pointer;
    background-color: #FDDCC4;
}

.pets .title {
    font-weight: 400;
    text-align: center;
    max-width: 400px;
    max-height: 90px;
}

.paginator {
    display: flex;
    gap: 20px;
}

.paginator button {
    background-color: transparent;
    border: 2px solid #F1CDB3;
    width: 52px;
    height: 52px;
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
}

.paginator button:hover {
    cursor: pointer;
    border: 2px solid #FDDCC4;
    background-color: #FDDCC4;
}

button.active {
    background-color: #F1CDB3;
    border: none;
}

button.active:hover {
    cursor: default;
    background-color: #F1CDB3;
    border: none;
}

button.inactive {
    color: #CDCDCD;
    border-color: #CDCDCD;
}

button.inactive:hover {
    background-color: transparent;
    cursor: default;
    border-color: #CDCDCD;
}

button.active {
    color: #292929;
}

.footer {
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px 40px 0 40px;
}

footer .content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 160px;
}

.contacts,
.locations {
    margin-top: 17px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contacts {
    gap: 42px;
    max-width: 279px;
}

.contacts a {
    text-decoration: none;
}

.locations {
    gap: 35px;
    max-width: 302px;
}

.locations h3 {
    margin-bottom: 2px;
}

.contacts h3,
.locations h3 {
    color: #FFFFFF;
    line-height: 45.5px;
}

footer .item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.locations a {
    text-decoration: none;
}

footer .item h4 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    color: #F1CDB3;
}

footer .item h4:hover {
    cursor: pointer;
}

footer .item img:hover {
    cursor: pointer;
}

.hamburger-menu {
    display: none;
}

@media only screen and (max-width: 1279px) and (min-width: 768px) {

    .hamburger-menu {
        display: none;
    }

    .header {
        padding: 30px;
    }

    .pets-main {
        padding-top: 80px;
        padding-bottom: 100px;
        margin: 0 auto;
    }

    .pets .content {
        gap: 30px;
    }

    .pets-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
        margin-bottom: 10px;
    }

    .card:nth-child(7) {
        display: none;
    }

    .card:nth-child(8) {
        display: none;
    }

    .footer .content {
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 60px;
    }

    .locations {
        gap: 35px;
    }

    .footer .content img {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) and (min-width: 320px) {

    .hamburger-menu {
        display: block;
    }

    #toggle {
        opacity: 0;
    }

    #toggle:checked+.menu span {
        transform: rotate(45deg);
    }

    #toggle:checked+.menu span::before {
        top: 0;
        transform: rotate(0deg);
    }

    #toggle:checked+.menu span::after {
        top: 0;
        transform: rotate(90deg);
    }

    #toggle:checked~.list {
        right: 0 !important;
    }

    .menu {
        position: absolute;
        left: 90%;
        top: 59px;
        width: 30px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
    }

    .menu span,
    .menu span::before,
    .menu span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #545454;
        transition-duration: .20s;
    }

    .menu span::before {
        content: '';
        top: -10px;
    }

    .menu span::after {
        content: '';
        top: 10px;
    }

    .list {
        right: -100%;
    }

    .list {
        display: flex;
        flex-direction: column;
        text-align: center;
        position: fixed;
        top: 0;
        right: -100%;
        width: 320px;
        height: 100%;
        margin: 0;
        padding: 248px 0;
        list-style: none;
        background-color: #000000;
        transition-duration: .25s;
    }

    .item {
        display: block;
        transition-duration: .25s;
    }

    .item a {
        font-size: 32px;
    }

    .active {
        border: none;
    }

    .select {
        border-bottom: 3px solid #F1CDB3;
    }

    .header {
        padding: 30px 0 30px 10px;
    }

    .pets-main {
        padding: 80px 10px 100px 10px;
    }

    .pets .title {
        font-size: 25px;
        line-height: 32.5px;
    }

    .pets .content {
        gap: 42px;
    }

    .pets-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
    }

    .card:nth-child(4) {
        display: none;
    }

    .card:nth-child(6) {
        display: none;
    }

    .card:nth-child(5) {
        display: none;
    }

    .card:nth-child(7) {
        display: none;
    }

    .card:nth-child(8) {
        display: none;
    }

    .paginator {
        margin: 0 auto;
        gap: 10px;
    }

    .footer {
        padding: 0;
        padding-top: 30px;
    }

    .contacts,
    .locations {
        align-items: center;
    }

    .footer .content {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    footer .content * {
        margin: 0 auto;
    }

    .contacts h3 {
        font-size: 25px;
        text-align: center;
        line-height: 32.5px;
    }

    .locations h3 {
        margin: 0 30px;
        font-size: 25px;
        text-align: center;
        line-height: 32.5px;
    }

    .locations {
        gap: 39px;
    }

    .locations div {
        align-self: flex-start;
    }

    .locations a {
        margin: 0 auto 0 0;
    }

    .footer .content img {
        max-width: 260px;
        height: auto;
    }
} */