@font-face {
  font-family: 'Arial';
  src: url(fonts/arial.woff);
  font-weight: 400;
}

@font-face {
  font-family: 'Georgia';
  src: url(fonts/georgia.woff);
  font-weight: 400;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-weight: 400;
  min-height: 100vh;

}

header {
  width: 100%;
  position: absolute;

}

.header {
  padding: 60px 40px 0 40px;
  max-width: 1280px;
  margin: auto;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo a {
  text-decoration: none;
}

.logo .title:hover {
  cursor: pointer;
}

.logo .title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #F1CDB3;
  font-size: 32px;
  font-weight: 400;
  line-height: 35.2px;
  letter-spacing: 0.06em;
  margin-bottom: 10px;
  text-align: center;
}

.logo .subtitle {
  font-family: Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 13px;
  line-height: 14.95px;
  letter-spacing: 0.1em;
  text-align: center;
}

.list {
  display: flex;
  gap: 36px;
  list-style-type: none;
}

.active {
  border-bottom: 3px solid #F1CDB3;
}

.item a {
  text-decoration: none;
  color: #CDCDCD;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  display: inline;
}

.item a:hover {
  color: #FAFAFA;
}

.listMobile {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  list-style: none;
  line-height: 160%;
  text-align: center;
  padding: 0px;
  padding-top: 158px;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 57.2px;
  color: #FFFFFF;
}

.start-screen {
  padding: 180px 0 0 0;
  background: url(../public/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.start {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px 0 40px;
  display: flex;
  gap: 42px;
}

.start .content {
  margin-top: 163px;
  margin-bottom: 243px;
  display: flex;
  flex-direction: column;
  gap: 11px;
  max-width: 460px;
}

.start .content p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #CDCDCD;
}

.btn-start {
  max-width: 207px;
}

.primary {
  max-height: 52px;
  border: none;
  line-height: 130%;
  border-radius: 100px;
  font-size: 17px;
  padding: 15px 45px;
  color: #292929;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.059em;
  background-color: #F1CDB3;
}

.primary:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.btn-start.primary {
  margin-top: 62px;
}

.about-content {
  display: flex;
  justify-content: center;
  gap: 120px;
  padding: 160px 40px 80px;

}

.about-container {
  max-width: 430px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about-container h3 {
  text-align: left;
  margin-right: 60px;
  margin-top: 14px;
}

.about-container p {
  font-size: 15px;
  line-height: 24px;
}

h3 {
  font-family: Georgia, serif;
  line-height: 130%;
  letter-spacing: 0.06em;
  font-weight: 400;
  font-size: 35px;
  color: #545454;
}

.pets {
  background-color: #F6F6F6;
  padding: 80px 40px;
}

.pets-main {
  max-width: 1280px;
  margin: 0 auto;
}

.pets-main .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.slider {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.pets-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px 30px;
}

.card {
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FAFAFA;
  gap: 30px;
}

.card:hover {
  cursor: pointer;
  background-color: #FFFFFF;
}

.card:hover .learn {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.card p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #545454;
}

.learn {
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding: 14px 43px;
  text-align: center;
  color: #292929;
  font-size: 17px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: 0.06em;
  background-color: transparent;
  margin-bottom: 30px;
}

.learn:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.pets .title {
  font-weight: 400;
  text-align: center;
}

.btn-slider {
  background-color: transparent;
  border: 2px solid #F1CDB3;
  width: 52px;
  height: 52px;
  border-radius: 50px;
}

.btn-slider:hover {
  cursor: pointer;
  border: 2px solid #FDDCC4;
  background-color: #FDDCC4;
}


.help {
  background-color: #FFFFFF;
}

.help-main {
  max-width: 1280px;
  margin: auto;
  padding: 80px 40px;
}

.help .title {
  font-weight: 400;
  text-align: center;
}

.help .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}

.help .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 55px 120px;
}

.help .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.help .item p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  letter-spacing: 0.06em;
  line-height: 23px;
}

.donation {
  background-color: #F6F6F6;
}

.donation-main {
  max-width: 1280px;
  margin: auto;
  padding: 80px 180px 160px;
}

.donation-content {
  display: flex;
  gap: 30px;
  justify-content: space-around;
}

.donation-title {
  font-weight: 400;
}

.donation-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.donation-container a {
  text-decoration: none;
  color: #545454;
  margin-bottom: -1px;
}

.bank-card {
  max-width: 349px;
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  border-radius: 9px;
  background-color: #F1CDB3;
}

.bank-card:hover {
  cursor: pointer;
  background-color: #FDDCC4;
}

.bank-card h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  font-weight: 400;
}

.donation-container h5 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.06em;
  line-height: 16.5px;
}

.donation-container p {
  font-family: Arial, Helvetica, sans-serif;
  color: #B2B2B2;
  font-style: italic;
  font-size: 12px;
  line-height: 18px;
  padding-right: 20px;
}

footer {
  background: url(../public/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}

.footer {
  max-width: 1280px;
  margin: 0 auto;
  padding: 60px 40px 0;
}

footer .content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 160px;
}

.contacts,
.locations {
  margin-top: 17px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts {
  gap: 42px;
  max-width: 279px;
}

.contacts a {
  text-decoration: none;
}

.locations {
  gap: 35px;
  max-width: 302px;
}

.locations h3 {
  margin-bottom: 2px;
}

.contacts h3,
.locations h3 {
  color: #FFFFFF;
  line-height: 45.5px;
}

footer .item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.locations a {
  text-decoration: none;
}

footer .item h4 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

footer .item h4:hover {
  cursor: pointer;
}

footer .item img:hover {
  cursor: pointer;
}

@media only screen and (max-device-width: 1279px) and (min-device-width: 768px) {

  .header {
    padding: 30px 30px 0 30px;
  }

  .start .content {
    margin: auto;
    gap: 42px;
  }

  .start-screen {
    padding-top: 150px;
  }

  .start .content p {
    text-align: justify;
  }

  .start {
    flex-direction: column;
    position: relative;
    gap: 100px;
  }

  .start .content a {
    margin: 0 auto 0 auto;
  }

  .start .content button {
    margin: 0;
  }

  .start img {
    align-self: end;
    max-width: 569px;
    height: auto;
  }

  .about-content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 120px auto 60px auto;
    gap: 90px;
  }

  .about-content img {
    max-width: 300px;
    height: auto;
  }

  #PetsPage:nth-last-child(-n+2) {
    display: none;
  }

  #HomePage:nth-last-child(-n+1) {
    display: none;
  }

  .pets {
    padding: 60px 0;
  }

  .pets-main {
    max-width: 1280px;
    margin: auto;
  }

  .pets-cards {
    flex-wrap: wrap;
    gap: 30px;
    width: 580px;
  }

  .slider {
    gap: 12px;
  }

  .help .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 60px;
  }

  .help-main {
    padding: 60px 0;
  }

  .donation-main {
    padding: 60px 0 120px;
  }

  .donation-content {
    flex-direction: column-reverse;
    gap: 60px;
    margin: 0 auto;
  }

  .donation-content img {
    max-width: 505px;
    height: auto;
    margin: 0 auto;
  }

  .donation-container {
    max-width: 380px;
    margin: 0 auto;
  }

  footer .content {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 60px;
  }

  .locations {
    gap: 35px;
  }

  footer .content img {
    grid-column-start: 1;
    grid-column-end: 3;
    margin: auto;
  }
}

@media only screen and (max-device-width: 767px) and (min-device-width: 320px) {
  .list {
    display: none;
  }

  .select {
    border: none;
  }

  .selected {
    border-bottom: 3px solid #F1CDB3;
  }

  .header {
    padding: 30px 0 0 0;
  }

  .start .content {
    margin: 0 auto 0 auto;
    text-align: center;
    gap: 42px;
  }

  .start .content a {
    margin: 0 auto 0 auto;
  }

  .start .content button {
    margin: 0;
  }

  .start .content h2 {
    margin: 0 10px;
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
    letter-spacing: 0.07em;
  }

  .start-screen {
    padding-top: 150px;
  }

  .start .content p {
    text-align: center;
  }

  .start .content h2 {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }

  .start {
    padding: 0 10px 0 10px;
    flex-direction: column;
    position: relative;
    gap: 105px;
  }

  .start img {
    align-self: end;
    max-width: 260px;
    height: auto;
  }

  .about-main {
    max-width: 1280px;
    margin: 0 auto;
  }

  .about-content {
    flex-direction: column-reverse;
    align-items: center;
    padding: 120px 0 60px;
    gap: 40px;
  }

  .about-container h3 {
    margin: 0 10px;
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }

  .about-container p {
    text-align: justify;
    margin: 0 15px;
  }

  .about-container p:last-child {
    margin-top: -5px;
  }

  .about-content img {
    max-width: 260px;
    height: auto;
  }

  #HomePage:nth-last-child(-n+2) {
    display: none;
  }

  #PetsPage:nth-last-child(-n+5) {
    display: none;
  }

  .pets {
    padding: 60px 0;
  }

  .pets-main .content {
    gap: 40px;
  }

  .pets-main .content h3 {
    margin: 0 10px;
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }

  .pets-main {
    margin: 0 auto;
    padding: 40px auto 40px auto;
  }

  .pets-cards {
    gap: 40px;
    order: -1;
    margin: 0 auto;
  }

  .slider {
    justify-content: center;
    max-width: 320px;
    gap: 20px;
    flex-wrap: wrap;
  }

  .left {
    margin-right: 60px;
  }

  .help-main {
    padding: 60px 0;
  }

  .help .item {
    gap: 19px;
  }

  .help .item p {
    font-size: 15px;
  }

  .help .item img {
    max-height: 50px;
    width: auto;
  }

  .help .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 30px;
    row-gap: 25px;
  }

  .help .content h3 {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }

  .help .content {
    gap: 40px;
  }

  .donation-container h3 {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }

  .donation-container h5 {
    text-align: center;
    font-size: 15px;
    letter-spacing: 0;
    margin-bottom: 5px;
  }

  .donation-container p {
    text-align: justify;
    margin: 0 10px;
  }

  .donation-main {
    padding: 60px 0 120px;
  }

  .donation-content {
    flex-direction: column-reverse;
    gap: 40px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .donation-content img {
    max-width: 260px;
    height: auto;
    margin: 0 auto;
  }

  .donation-container {
    max-width: 380px;
    margin: 0 auto;
  }

  .bank-card {
    max-width: 281px;
    margin: 0 auto;
  }

  .bank-card h4 {
    font-size: 15px;
  }

  .footer {
    padding: 60px 0 0;
  }

  .contacts,
  .locations {
    align-items: center;
  }

  footer .content {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  footer .content * {
    margin: auto;
  }

  .contacts h3 {
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }

  .locations h3 {
    margin: 0 30px;
    font-size: 25px;
    text-align: center;
    line-height: 32.5px;
  }

  .locations {
    gap: 39px;
  }

  .locations div {
    align-self: flex-start;
  }

  .locations a {
    margin: 0 auto 0 0;
  }

  footer .content img {
    max-width: 260px;
    height: auto;
  }
}