@media only screen and (max-width: 1279px) and (min-width: 768px) {

    .pets-main {
        padding-top: 80px;
        padding-bottom: 100px;
        margin: 0 auto;
    }

    .pets .content {
        gap: 30px;
    }

    .pets-cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
        margin-bottom: 10px;
    }

}

@media only screen and (max-width: 767px) and (min-width: 320px) {

    .pets .title {
        font-size: 25px;
        line-height: 32.5px;
    }

    .pets .content {
        gap: 42px;
    }

    .pets-cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 30px;
    }

    .paginator {
        margin: 0 auto;
        gap: 10px;
    }

}